# Visual Studio
.vs/
x64/
Debug/
Release/
*.obj
*.exe
*.ilk
*.pdb
*.tlog
*.idb
*.ipdb
*.iobj
*.ipdb
*.db
*.opendb

# Скомпилированные файлы
*.exe
*.dll
*.so
*.a

# Временные файлы
*.tmp
*.log
*.enc

# Пользовательские настройки
*.user
*.suo
*.slnx